n8n-workflows/procurement/v1.0.0/b2b-procurement-basic.json
{
  "name": "B2B Procurement Agent Integration",
  "nodes": [
    {
      "parameters": {
        "path": "b2b-procurement-parse",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $parameter['baseUrl'] }}/api/b2b-procurement/parse-demand",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "description",
              "value": "={{ $json['description'] }}"
            },
            {
              "name": "companyId",
              "value": "={{ $json['companyId'] || 'default-company' }}"
            },
            {
              "name": "requesterId",
              "value": "={{ $json['requesterId'] || 'default-requester' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "http-request-parser",
      "name": "Call B2B Parser API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [500, 300]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "success",
              "value": "={{ $json['success'] }}"
            },
            {
              "name": "message",
              "value": "={{ $json['message'] || '解析完成' }}"
            },
            {
              "name": "itemsCount",
              "value": "={{ $json['data'] && $json['data']['parsedRequest'] ? $json['data']['parsedRequest']['items'].length : 0 }}"
            },
            {
              "name": "confidence",
              "value": "={{ $json['data'] && $json['data']['parsedRequest'] ? $json['data']['parsedRequest']['aiConfidence'] : 0 }}"
            },
            {
              "name": "processingTime",
              "value": "={{ $json['data'] && $json['data']['parsedRequest'] ? $json['data']['parsedRequest']['processingTimeMs'] : 0 }}ms"
            },
            {
              "name": "parsedItems",
              "value": "={{ $json['data'] && $json['data']['parsedRequest'] ? $json['data']['parsedRequest']['items'] : [] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "transform-response",
      "name": "Transform Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [750, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": "={{ $json['success'] ? 200 : 400 }}"
        }
      },
      "id": "http-response",
      "name": "Return Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1000, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Call B2B Parser API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call B2B Parser API": {
      "main": [
        [
          {
            "node": "Transform Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform Response": {
      "main": [
        [
          {
            "node": "Return Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b2b_procurement_integration_v1",
  "meta": {
    "instanceId": "b2b-procurement-agent-demo",
    "templateCredsSetupCompleted": true,
    "version": "v1.0.0",
    "created_at": "2026-02-20T00:00:00Z",
    "author": "AI Assistant",
    "description": "B2B采购基础集成工作流，简单的Webhook到API调用流程",
    "tags": ["procurement", "b2b", "basic", "integration"],
    "rollback_to": "v1.0.0",
    "rollback_notes": "初始稳定版本"
  },
  "id": "b2b_procurement_agent_integration",
  "tags": [
    {
      "id": "tag_b2b",
      "name": "B2B Procurement"
    },
    {
      "id": "tag_integration",
      "name": "Integration Demo"
    }
  ]
}
